<nav class="navbar navbar-dark navbar-full bg-primary">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="#">MEEN Starter Kit</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        {{#link-to 'features' class="nav-link"}}Features{{/link-to}}
      </li>
    </ul>
  </div>
</nav>
{{outlet}}
